/********************************************************************
**
** sheaf.css
**
**   A library that supports the representation and automated
**   rendering of lecture notes for mathematics and computer
**   science courses.
**
**   Web:     sheaf.io
**   Version: 0.0.1.0
**
**   Stylesheet for rendering of sheaf course material XML files
**   as HTML webpages.
*/

/********************************************************************
*/

body { font-family: Times,serif; }
.sheaf { margin: 50px 60px 50px 60px; }

#sheaf .toc { margin:18px 0px 18px 0px; }
#sheaf .toc ul { padding-top:0px; margin:0px; }
#sheaf .toc ul li { margin:0px; padding:0px; }

#sheaf .header_numeral { color:#8A8A8A; }
#sheaf h2 { margin-top:40px; color:#6A6A6A; white-space:nowrap; }
#sheaf h3 { padding-top:40px; white-space:nowrap; }

#sheaf .linked { position:relative; left:-45px; }
#sheaf .link-title {
  color:#9F9F9F; 
  font-variant:small-caps; font-size:11px; font-weight:bold;
  display:inline-block;
  vertical-align:bottom;
  padding:0px 7px 5px 0px;
}
#sheaf .link-block {
  color:#9F9F9F;
  font-variant:small-caps; font-size:11px; font-weight:bold;
  float:left; display:inline-block;
  position:relative; top:11px;  
  margin-right:10px;
}

#sheaf .section { }
#sheaf .review { }
#sheaf .appendix { }
#sheaf .subsection { }
#sheaf .paragraph { margin:12px 0px 12px 0px; }
#sheaf .text { margin:8px 0px 8px 0px; }

#sheaf .inferences { padding:8px 8px 8px 16px; }
#sheaf .inferences .inference { padding:5px 1px 5px 1px; }
#sheaf .inferences .inference .premises { 
  border-bottom:1px solid #000000; border-spacing:0; border-collapse:collapse;
  padding:0px 12px 0px 12px;
  text-align:center;
}
#sheaf .inferences .inference .conclusion { 
  border:0px; border-spacing:0; border-collapse:collapse;
  padding:0px 12px 0px 12px;
  text-align:center;
}
#sheaf .inferences .inference  .title {
  font-family:serif; font-variant:small-caps; font-size:14px;
}

#sheaf .code {
  background-color:#F4F4F4;
  border:1px dashed #AFAFAF;
  font-family:Monospace; font-size:12px;
  margin:8px 8px 8px 8px;
}
#sheaf .code .source { margin:-8px 10px -8px 10px; }
#sheaf .code .source .comment { color:#8A8A8A; font-style:italic; }
#sheaf .code .source .literal { color:firebrick; font-weight:bold; }
#sheaf .code .source .keyword { color:blue; font-weight:bold; }
#sheaf .code .source .builtin { color:purple; font-weight:bold; }

#sheaf .assignment { }
#sheaf .assignment .problems { margin-left:-20px; }
#sheaf .assignment .problems .problem { margin:0px 0px 10px 0px; }
#sheaf .assignment .problems .problem .parts { margin:10px 0px 0px 0px; list-style-type:lower-alpha; }
#sheaf .assignment .problems .problem .part { margin:10px 0px 0px -20px; }
#sheaf .assignment_title { text-decoration:underline; }

#sheaf .midterm { }
#sheaf .midterm .problems { margin-left:-20px; }
#sheaf .midterm .problems .problem { margin:0px 0px 10px 0px; }
#sheaf .midterm .problems .problem .parts { margin:10px 0px 0px 0px; list-style-type:lower-alpha; }
#sheaf .midterm .problems .problem .part { margin:10px 0px 0px -20px; }
#sheaf .midterm_title { text-decoration:underline; }

#sheaf .final { }
#sheaf .final .problems { margin-left:-20px; }
#sheaf .final .problems .problem { margin:0px 0px 10px 0px; }
#sheaf .final .problems .problem .parts { margin:10px 0px 0px 0px; list-style-type:lower-alpha; }
#sheaf .final .problems .problem .part { margin:10px 0px 0px -20px; }
#sheaf .final_title { text-decoration:underline; }

#sheaf ul { padding-top:0px 0px 0px 5px; margin:8px 0px 8px 0px; }
#sheaf ul li ul { padding-top:0px 0px 0px 5px; margin:0px 0px 0px 0px; }
#sheaf ol { margin-left:8px; padding-top:0px 0px 0px 5px; }
#sheaf li { text-align:left; position:relative; min-width:200px; padding:0px 0px 0px 0px; }
#sheaf code { background-color:#EEEEEE; padding:0px 2px 0px 2px;}

#sheaf a { text-decoration:none; color:#AC701E; }
#sheaf a:hover { text-decoration:underline; color:firebrick; }

#sheaf .block { margin: 12px 0px 12px 0px; }
#sheaf .block_label { font-weight:bold; color:#222222; }
#sheaf .definition { padding:7px; white-space:normal; }
#sheaf .fact { padding:7px; white-space:normal; }
#sheaf .theorem { padding:7px; white-space:normal; }
#sheaf .conjecture { padding:7px; white-space:normal; }
#sheaf .algorithm { padding:7px; white-space:normal; }
#sheaf .protocol { padding:7px; white-space:normal; }
#sheaf .example { padding:7px; white-space:normal; }
#sheaf .exercise { padding:7px; white-space:normal; }
#sheaf .definition_required { padding:7px; white-space:normal; background-color:#F6F4D8; border:1px solid #E5E2BA; } /* #F6F3C8 (more saturated) */
#sheaf .fact_required { padding:7px; white-space:normal; background-color:#F6F4D8; border:1px solid #E5E2BA; } /*F9F7DC*/
#sheaf .theorem_required { padding:7px; white-space:normal; background-color:#F6F4D8; border:1px solid #E5E2BA; }
#sheaf .conjecture_required { padding:7px; white-space:normal; background-color:#F6F4D8; border:1px solid #E5E2BA; }
#sheaf .algorithm_required { padding:7px; white-space:normal; background-color:#F6F4D8; border:1px solid #E5E2BA; }
#sheaf .protocol_required { padding:7px; white-space:normal; background-color:#F6F4D8; border:1px solid #E5E2BA; }
#sheaf .example_required { padding:7px; white-space:normal; background-color:#E1F8E1; border:1px solid #CBEACB; } /* #D7F8D7 (more saturated) */
#sheaf .exercise_required { padding:7px; white-space:normal; background-color:#E1F8E1; border:1px solid #CBEACB; }

#sheaf .solution_container { border-top:0px; border-left:1px dotted green; border-right:1px dotted green; border-bottom:1px dotted green; padding:0px 0px -10px 0px; margin:0px 8px 8px 8px; }
#sheaf .solution_container .solution { background-color:#E6F9F4; border-top:0px; border-left:1px dotted green; border-right:1px dotted green; border-bottom:1px dotted green; padding:8px 8px 8px 8px; }
#sheaf .solution_spacer { margin-bottom:4px; }

#sheaf .diagram { margin:14px; text-align:center; width:100%; font-size:12px; font-family:Arial,Sans-serif; }
#sheaf .diagram .container { border-spacing:7px; margin:0 auto; }
#sheaf .diagram .container .box { font-weight:bold; padding:2px 10px 2px 10px; border:1px dashed #444444; text-align:center; }

#sheaf .fig_table { margin:8px 8px 8px 8px; border:1px #CCCCCC solid; }
#sheaf .fig_table td { padding:4px 10px 4px 10px; margin:0px 10px 0px 10px; white-space:nowrap; background-color:#EFEFEF; }
#sheaf .fig_table2 .cell { padding:4px 10px 4px 10px; margin:0px 10px 0px 10px; white-space:nowrap; background-color:#EFEFEF; }
#sheaf .truthtable td { text-align:center; }

#sheaf .button { border:0px; margin:8px 8px 0px 8px; padding:0px; }
#sheaf button { text-align:center; font-family:Verdana,Arial,sans-serif; font-size:10px; color:#555555; cursor:pointer; padding:0px; margin-left:auto; width:100%; }

#sheaf .btn { display:inline-block; margin-right:5px; font-size:10px; font-family:Verdana,Arial,Sans-serif; background-color:#CFCFCF; cursor:pointer; }
#sheaf .btn_verify { display:inline-block; padding:5px; font-size:10px; font-family:Verdana,Arial,Sans-serif; background-color:#CFCFCF; cursor:pointer; }
#sheaf .btn_format { display:inline-block; padding:5px; font-size:10px; font-family:Verdana,Arial,Sans-serif; background-color:#CFCFCF; cursor:pointer; }
#sheaf .btn_selected { background-color:#EFEFEF; cursor:pointer; }
#sheaf .widget_argument_controls { display:inline-block; font-size:10px; font-family:Verdana,Arial,Sans-serif; float:right; }

#sheaf .argument       { margin:0px 20px 0px 20px; padding:0px 15px 0px 15px; background-color:#F6F6F6; padding:10px; border:2px solid #FFFFFF; }
#sheaf .argument:hover { margin:0px 20px 0px 20px; padding:0px 15px 0px 15px; background-color:#F6F6F6; padding:10px; border:2px solid green; } /*D7F8D7*/

.footer { margin:0px; padding:0px; width:100%; text-align:right; border-top:1px solid #DFDFDF; }
.footer .sheaflink { color:#AFAFAF; font-family:Verdana,Arial,sans-serif; font-size:10px; margin:5px; padding:5px; text-align:right; }
.footer .sheaflink a { color:#777777; text-decoration:none; }
.footer .sheaflink a:hover { color:#AFAFAF; text-decoration:none; }

.html_matrix_lft { border-left:1px solid #000000; border-top:1px solid #000000; border-bottom:1px solid #000000; }
.html_matrix_rgt { border-right:1px solid #000000; border-top:1px solid #000000; border-bottom:1px solid #000000; }
.html_matrix_entry { text-align:center; padding-left:2px; padding-right:2px; margin:0px; }

.html_frac_lft { border-left:0px solid #000000; border-top:0px solid #000000; border-bottom:0px solid #000000; }
.html_frac_rgt { border-right:0px solid #000000; border-top:0px solid #000000; border-bottom:0px solid #000000; }
.html_frac_numerator { text-align:center; padding-left:2px; padding-right:2px; margin:0px; }
.html_frac_denominator { text-align:center; padding-left:2px; padding-right:2px; margin:0px; }

/*eof*/